.green 
	color $green

.narrow 
	width: 80px
	border-radius: 25%

.wide
	width 600px
	border-radius: 0

.narrowDz
	width: 80px
	border-radius: 25%
	border 5px solid $darkest
	background $darker

.wideDz
	width 600px
	border-radius: 0
	border 5px solid $green
	background $lighter
	min-height: 40px
	text-align center

.light
	background $light

.lighter
	background $lighter

.lightest
	background $lightest

.dark 
	background $dark

.darker
	background $darker

.darkest
	background $darkest

.hidden 
	display none

.darkBorder
	border 5px $darkest solid

.border
	border 5px $green solid

.rolledUp 
	border 8px solid $pink
	background yellow
	
.brown
	background $brown

.brownen 
	background $pink
	transition background 1s
	width 

.shrink
	width 80px
	height 40px
	background $darkest
