.green 
	color $green

.light
	background $light

.lighter
	background $lighter

.lightest
	background $lightest

.dark 
	background $dark

.darker
	background $darker

.darkest
	background $darkest

.hidden 
	display none


.border
	border 5px $green solid

.rolledUp 
	border 8px solid $pink
	background yellow
	
