input[type="checkbox"], input[type="radio"]
	cursor pointer
	-webkit-appearance none
	appearance none
	background grey
	border-radius 2px
	box-sizing border-box
	position relative
	box-sizing content-box 
	width 16px
	height 16px
	border-width 0
	transition all .2s linear


input[type="radio"]
	border-radius 20px


input[type="checkbox"]:checked, input[type="radio"]:checked
	background-color $darkest


input[type="checkbox"]:focus, input[type="radio"]:focus
	outline 0 none
	box-shadow none


input[type="checkbox"]:hover, input[type="radio"]:hover
	outline 0 none
	box-shadow none
	background-color $darker



