@import 'vars'
@import 'inputs'
@import 'exampleTable'
@import 'classes'

body
	background $mainColour
	color $gray
	font-family Helvetica, Arial, sans-serif
	

div, p 
	padding 8px
	margin 8px

#dz
	padding 8px
	height 100px
	width 75%
	// font-size 36pt
