$mainColour = $blue


$blue = #4682b4
$darkblue = #4a46b4
$pink = #b44669
$brown = #b45d46
$green = #9AB446
$gray = #112


$dark = $mainColour - 20%
$darker = $mainColour - 40%
$darkest = $mainColour - 60%
$light = $mainColour + 20%
$lighter = $mainColour + 40%
$lightest = $mainColour + 60%



// #dz
// 	padding 8px
// 	height 100px
// 	width 75%
// 	// font-size 36pt
// 	// background-color $lighter

// .rolledUp 
// 	border 8px solid $pink
// 	background yellow
